
.name {position: absolute;
    font-family: 'Radley', serif;
    width:auto;
    margin-left:130px;
    margin-top: 180px;
}

.name_a {position: absolute;
    font-family: 'Radley', serif;
    color: blue;
    line-height: 100%;
    font-size: 50px;
    width: 30px;
    margin-left: 1280px;
    margin-top: 180px;

}

.eve {
    width: 600px;
    background-color: #ffff00;
    position: absolute;
    margin-top: 180px;
    margin-left: 25%;
}

.baseface {
    position: absolute;
    left: 103px;
    top: 214px;
}

.green {
    position: absolute;
    left: 69px;
    top: 547px;
}

.bface {
    position: absolute;
    left: 213px;
    top: 243px;
}

.blue {
    position: absolute;
}

.pnk {
    position: absolute;
    left: 240px;
    top: 260px;
}

.wsh {
    position: absolute;
    left: 293px;
    top: 350px;
}

.ysh {
    position: absolute;
    left: 337px;
    top: 440px;
}

.bsh {
    position: absolute;
    left: 284px;
    top: 247px;
}

.bbshape {
    position: absolute;
    left: 229px;
    top: 317px;
}

.csh {
    position: absolute;
    left: 294px;
    top: 352px;
}

.nemo {
    position: absolute;
    left: 325px;
    top: 78px;
}

.white {
    position: absolute;
    left: 229px;
    top: 315px;
}

.ho {
    float: left;
    width: 50px;
    height: 80px;
    left: 20px;
    top: 199px;
}

@font-face {
    font-family: 'Radley';
    font-style: normal;
    font-weight: 400;
    src: local('Cardo'), local('Cardo-Regular'), url(http://fonts.gstatic.com/s/cardo/v7/f9GbO0_LnwwuaRC6yAh0JKCWcynf_cDxXwCLxiixG1c.woff2) format('woff2'), url(http://fonts.gstatic.com/s/cardo/v7/c6Zi_ulq7hv-avk-G9Yut6CWcynf_cDxXwCLxiixG1c.woff) format('woff');
}

